html,body{
    height: 100%;
    width: 100%;
}
#main{
    position: relative;
    overflow: hidden;
}
#page1{
    height: 100vh;
    width: 100vw;
    /* background-color: red; */
    position: relative;
}
#page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page1>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 11px;
    height: 16vh;
    width: 100vw;
    background-color: cornflowerblue; 
}
.right-nav{
    position: absolute;
    right: 6%;
}
.right-nav>button{
    padding: 11px 21px;
    border: 2px solid  black;
    border-radius: 16px; 
    background-color: #0b48ed;
    color: white;

}
.bottom-page{
    position: absolute;
    right: 52%;
    bottom: 16%;
}
.bottom-page>h1{
    color: white;
    font-size: 4vw;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 6vw;
    height: 31vh;
    width: 45vw;
}
.inner{
    height: 31%;
    width: 80%;
    /* background-color: chocolate; */
    padding-left: 6vw;
    color: white;
    display: flex;
    align-items: end;

}
.inner>button{
    height: 6vh;
    width: 11vw;
    border-radius: 16px;

}